/*
================================================================================
  Global styles
================================================================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #333;
  border-top: 5px solid #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl,
blockquote,
table,
img,
hr,
.fluid-width-video-wrapper,
.highlight {
  margin-bottom: 20px;
}

/*blockquote {
  padding: 0 30px;
  border-left: 2px solid #C6C6C6;
}*/
blockquote {
  padding: 10px 20px;
  border-left: 2px solid #C6C6C6;
  margin-left: 40px;
  font-size: medium;
  /*font-family: 'Lora', serif;*/
}


ul, ol {
  margin-left: 40px;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

hr {
  border : 0;
  height: 15px;
  background : url(../images/divider.svg) center center no-repeat;
  margin: 75px 0 !important;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: .8rem;
}

p code {
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  border: 1px solid #333;
}

thead {
  background-color: #C6C6C6;
}

td,
th {
  border: 1px solid #333;
  padding: 5px 10px;
}

.container {
  max-width: 750px;
  padding: 0 20px;
}

dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

dt {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  font-weight: bold;
}

dd {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

/*
================================================================================
  Colour styles
================================================================================
*/
.azul a {
  color: #0070bb;
}

.azul a:hover {
  color: #0F9EFB;
}

.ruby a {
  color: #e0115f;
}

.ruby a:hover {
  color: #930036;
}

.amber a {
  color: #ff7e00;
}

.amber a:hover {
  color: #C66200;
}

.avocado a {
  color: #568203;
}

.avocado a:hover {
  color: #8FBE36;
}

/*
================================================================================
  Header

  Including logo and navigation.
================================================================================
*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > div {
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

#logo {
  display: inline-block;
  height: 110px;
  width: 110px;
  background-size: 90px 90px;
  background-position: center center;
  background-repeat: no-repeat;
}

#logo-title {
  color: #E9ECE1;
  margin: 38px;
  opacity: 1;
}

header > nav#main-navigation {
  margin-bottom: 40px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > nav#main-navigation a {
  display: inline-block;
  color: #333;
  padding: 66px 20px 25px;
  margin-right: 10px;
  margin-top: -10px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #333;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  background-color: #EAEAEA;
}

header > nav#main-navigation a:hover,
header > nav#main-navigation a.current {
  color: #f5f5f5;
  border-bottom: none;
}

header > nav#main-navigation a:hover {
  background-color: #333;
  transform: translateY(10px);
}

header > nav#main-navigation a.current {
  background-color: #333;
  /*Justine*/ transform: translateY(10px);
}

nav#main-navigation a.trigger {
  display: none;
}

header > nav#main-navigation > .intro {
  border-left: 10px solid #8FBE36;
  border-bottom-left-radius: 15px;
}

header > nav#main-navigation > .ixd {
  border-left: 10px solid #FC315A;
  border-bottom-left-radius: 15px;
}

header > nav#main-navigation > .uxd {
  border-left: 10px solid #33A3C1;
  border-bottom-left-radius: 15px;
}

header > nav#main-navigation > .games {
  border-left: 10px solid #F5A205;
  border-bottom-left-radius: 15px;
}

header > nav#main-navigation > .final {
  border-left: 10px solid #53DFD3;
  border-bottom-left-radius: 15px;
}

/*
================================================================================
  Footer
================================================================================
*/
.top-line {
  height: 5px;
  width: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  z-index: 50;
}

footer {
  font-size: .8rem;
  text-align: center;

  position: fixed;
  bottom: 0;
  padding: 5px 10px;
  width: 100%;
  background-color: #e1e1e1;
  vertical-align: middle;
}

footer p {
  margin: 0;
  color: inherit;
}

/*
================================================================================
  Home page main content (post list).
================================================================================
*/
.archive {
  margin-bottom: 100px;
}

.archive-item {
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.archive-item h2 {
  margin-bottom: 0;
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.archive-item > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.archive-item article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px
}

.archive-item article a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*Justine*/
.archive-item article p {
  padding-top: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-style: italic;
}

.archive-item article a {
  font-size: large;
  font-weight: 600;
  font-style: normal;
}


.post-date {
  text-align: right;
  /*-ms-flex-preferred-size: 110px;
      flex-basis: 110px;*/
  -ms-flex-preferred-size: 75px;
      flex-basis: 75px;
}

/*Justine*/
.page-category {
  text-align: right;
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
}

#welcome {
  color: #333;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  font-size: 2em;
  margin-top: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 5px;
}

.welcome-container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.welcome-container img {
  width: 500px;
}
/*
================================================================================
  Code highlighting
================================================================================
*/
.highlight {
  padding: 30px;
  border-radius: 6px;
  background-color: #272822;
  color: #f8f8f2;
  line-height: 1;
}

.highlight code {
  font-size: .7rem;
}

/*
================================================================================
  Single page styles
================================================================================
*/
.single {
  margin-bottom: 100px;
}

.single {
  font-size: 1.125rem;
  line-height: 28px;
}

.single time {
  color: #999;
  font-size: .9rem;
}

.not-found {
  margin-top: 150px;
  text-align: center;
  font-size: 2rem;
}

.not-found h1 {
  font-size: 8rem;
}

.material-marker {
  display: inline;
  margin: inherit;
  valign: middle;
  font-size: inherit;
  float: right;
}

.section-divider {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin: 3em 0;
}


/*
================================================================================
  Responsive styling
================================================================================
*/
@media screen and (max-width: 580px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #logo {
    background-position: center;
  }

  header > nav#main-navigation {
    height: auto;
    margin-bottom: 40px;
    padding-bottom: 20px;
    max-width: 100%;
    overflow-x: auto;
}

  header > nav#main-navigation a {
    margin-top: 0;
    padding: 8px 18px;
    border-radius: 5px;
    white-space: nowrap;
    border-bottom: none;
  }

  .archive-item h2 {
    -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  }

}

/*
================================================================================
  Sitcky Menus
================================================================================
*/
/*.stickynav {
  position: sticky;
  top: 0;
}

.stickynav>ul {
  margin: 0;
  padding-left: 10px;
  background-color: #EAEAEA;
  width: 75%;
  border-bottom-right-radius: 20px;
  color: #333;
}

.stikynav>ul, li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: small;
  text-align: center;
  margin: 5px;
}*/

.anchor {
  display: block;
  height: 30px; /*same height as header*/
  margin-top: -40px; /*same height as header*/
  visibility: hidden;
}

.sticky {
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-top: -3px;
  z-index: 10 !important;
}

.nav-marker {
  display: inline;
  margin: 0 1em;
  valign: middle;
  font-size: small;
}

menu#sticky-navigation ul {
  margin: 0;
  background-color: #EAEAEA;
  min-width: 275px;
  width: 75%;
  border-bottom-right-radius: 20px;
  text-align: left;
}

menu#sticky-navigation li {
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
  font-size: small;
  text-align: center;
  margin: auto;
  padding: .4em 1em;
}


/* INTRO */
menu#sticky-navigation .intro a {
  font-weight: normal;
}

menu#sticky-navigation .intro li:hover,
menu#sticky-navigation .into li.current {
  background-color: #333;
  border-top: 3px solid #8FBE36;
}

menu#sticky-navigation .intro li.active {
  border-top: 3px solid #8FBE36 !important;
  background-color: #333;
}

menu#sticky-navigation .ixd a {
  color: #FC315A;
  font-weight: normal;
}

menu#sticky-navigation .ixd a:hover {
  color: #E0115F;
}

menu#sticky-navigation .ixd li:hover,
menu#sticky-navigation .ixd li.current {
  background-color: #333;
  border-top: 3px solid #FC315A;
}

menu#sticky-navigation .ixd li.active {
  border-top: 3px solid #FC315A !important;
  color: #EAEAEA !important;
}

/* RESPONSIVE EMBEDS */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* SCHDULE BLOCKS */
.block-container {
  background: #111011;
  font-family: Lucida Console, Monaco, monospace;
  border-top: top;
  border-right: 2px solid #111011;
  border-bottom: 2px solid #111011;
  border-left: 15px solid #E9ECE1;
  border-radius: 20px 0px;
}

.block-date {
  background: #111011;
  border: 2px solid #111011;
  border-radius: 20px 0 0 0;
  padding-top: 1%;
  text-align:center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.block-date h2 {
  font-size: 11px;
  color: gray;
}

.block-date p {
  font-size: 14px;
  color: white;
}

.block-topic {
  background: #FFF;
  border-top: 2px solid #111011;
  border-radius: 0 0 20px 0;
  padding:15px;
}

.block-topic h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: black;
  letter-spacing: 2px;
}



.heading-container {
  display: inline;
  width: 100%;
}

.heading-container .line {
  width: 100%;
  border-top: 2px solid #111011;
  padding-bottom: 20px;
}

.heading-container .box-pink {
  background: #111011;
  font-family: Lucida Console, Monaco, monospace;
  border-left: 15px solid #FC315A;
  border-radius: 0 0 0 20px;
  width: 175px;
  float: left;
  margin:  -2px 20px 10px 0;
}

.heading-container .box-blue {
  background: #111011;
  font-family: Lucida Console, Monaco, monospace;
  border-right: 15px solid #33A3C1;
  border-radius: 0 0 20px 0;
  width: 175px;
  float: right;
  margin:  -2px 0 10px 20px;
}

.heading-container .box-yellow {
  background: #111011;
  font-family: Lucida Console, Monaco, monospace;
  border-left: 15px solid #F5A205;
  border-radius: 0 0 0 20px;
  width: 175px;
  float: left;
  margin:  -2px 20px 10px 0;
}

.heading-container .box-teal {
  background: #111011;
  font-family: Lucida Console, Monaco, monospace;
  border-right: 15px solid #53DFD3;
  border-radius: 0 0 20px 0;
  width: 175px;
  float: right;
  margin:  -2px 0 10px 20px;
}

.heading-container .text {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px
}

.heading-container .heading {
  font-size: 0.5em;
  color: gray;
}

.heading-container .sub-heading {
  font-size: 0.8em;
  color: #EAEAEA;
}

.heading-container .break {
  width: 100%;
  height: .5px;
  background-color: gray;
  margin: -15px 0 10px 0 !important;
}


.main-content a {
  font-weight: bold;
}
