# Site settings
title: Principles of Interactive Media
email: justine.evans@umontana.edu
description: >
  Course content for a look into creative technologies for interaction design.

baseurl: "/prince-int-media" # the subpath of your site, e.g. /blog/
url: https://media-ed-online.github.io/ # the base hostname & protocol for your site
git_address: https://github.com/Media-Ed-Online/prince-int-media
git_edit_address: https://github.com/Media-Ed-Online/prince-int-media/blob/gh-pages

theme: brume
# Custom options:
color_scheme: azul|ruby|amber|avocado
color_scheme: ruby


# Build settings
markdown: kramdown
highlighter: rouge
gems:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock
  - .idea/
  - .gitignore
  - README.md
timezone: America/Denver
