---
layout: default
title: Home
---

<head>
  <link rel="stylesheet" href="{{ "/css/animated-text/animated-text.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/animated-text/normalize.css" | prepend: site.baseurl }}">
</head>

<h2 id="welcome">Principles of Interactive</h2>
<div class="content">
  <svg viewBox="0 0 1000 200">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="50%" dy=".35em">
        MEDIA
      </text>
    </symbol>
    <use xlink:href="#s-text" class="text"></use>
    <use xlink:href="#s-text" class="text"></use>
    <use xlink:href="#s-text" class="text"></use>
    <use xlink:href="#s-text" class="text"></use>
    <use xlink:href="#s-text" class="text"></use>
  </svg>
</div>



<section class="archive">
{% for post in site.posts %}
{% unless post.next %}

  {% unless forloop.first %}
    </div>
  </div>
  {% endunless %}

  <div class="archive-item fadeInDown animated">
    <h2>{{ post.date | date: '%Y' }}</h2>
    <div>

{% else %}

{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}

{% if year != next_year %}

  {% unless forloop.first %}
    </div>
  </div>
  {% endunless %}

  <div class="archive-item fadeInDown animated">
    <h2>{{ post.date | date: '%Y' }}</h2>
    <div>

{% endif %}
{% endunless %}

  <article>
    <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
    <div class="post-date">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B" }}</time>
    </div>
  </article>



{% endfor %}
</section>
