---
layout: default
title: module-feed
---

<h1> Overview content goes here.</h1>

<br />


{% for page in site.pages %}
{% if page.category == "IXD" %}

{% unless page.next %}

  {% unless forloop.first %}
    </div>
  </div>
  {% endunless %}

  <div class="archive-item fadeInDown animated">
    <h2>{{ page.active }}</h2>
    <div>

{% else %}

  <div class="archive-item fadeInDown animated">
    <h2>{{ page.active }}</h2>
    <div>
{% endunless %}

  <article>
    <p><a href="{{ page.url | absolute_url }}" title="{{ page.title }}">"{{ page.title }}"</a><br />{{ page.summary }}</p>
    <div class="page-category">
      {{ page.category }}
    </div>
  </article>

  {% if forloop.last %}
    </div>
  </div>
  {% endif %}

{% endif %}
{% endfor %}
