---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../js/scroll.js"></script>
<script src="../js/scroll.js"></script>

<style>
  h2 {
    font-size: 2em;
  }
  h2, h3, h4 {
    font-family: 'Lora', serif;
  }
  h4 {
    text-align: center;
    margin-top: 60px;
  }
  h2, p {
    margin-left: 15px;
  }
</style>

<article class="single row gutters">
  <p style="margin-bottom: 5px;">{{ page.category }} / {{ page.summary }}</p>
  <h2>"{{ page.title }}"</h2>

  {{ content }}
</article>
